.advantages__intro {
  position: relative;
  padding: 34px 18px 26px;

  @media (min-width: $tablet-width) {
    padding: 49px 124px 55px;
  }

  @media (min-width: $desktop-width) {
    padding: 59px 358px 44px;
  }
}

.advantages__intro::after {

  z-index: 1;
}

.description__title {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  color: $dark-black;
  margin: 0;
  margin-bottom: 35px;
  padding: 0 10px;

  @media (min-width: $tablet-width) {
    font-size: 21px;
    margin-bottom: 29px;
  }

}

.description__subtitle {
  text-transform: uppercase;
  text-align: center;
  margin: 0;
}

.advantages__list {
  padding: 0;
  margin: 0;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
  }
}

.advantages__item {
  list-style: none;
  position: relative;

  &--area {
    @media (max-width: $mobile-width-only) {
      padding: 24px 26px;
    }
  }

  &--road {
    @media (max-width: $mobile-width-only) {
      padding: 25px 26px 24px;
    }
  }

  &--tourists {
    @media (max-width: $mobile-width-only) {
      padding: 25px 26px 27px;
    }
  }

  &--grey {
    background-color: $grey;

    @media (min-width: $tablet-width) {
      width: 33.33%;
      padding: 52px 33px;
    }

    @media (min-width: $desktop-width) {
      padding: 63px 50px 37px;
    }
  }

  &--decoration-text {
    @media (min-width: $tablet-width) {
      padding: 41px 40px;
    }

    @media (min-width: $desktop-width) {
      padding: 52px 50px 51px;
    }
  }
}

@media (max-width: $mobile-width-only) {

  .advantages__intro--triangle::after {
    position: absolute;
    content: "";
    background-image: url("../img/white-triangle.svg");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: cover;
    height: 37px;
    width: 100%;
    bottom: -26px;
    right: 0;
    left: 0;
  }


  .advantages__item--border-line::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 18px;
    right: 18px;
    height: 1px;
    background-color: $silver;
  }
}

.advantages__wrapper {
  position: relative;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template: "text image" / 1fr 2fr;
  }

  &--reverse {
    @media (min-width: $tablet-width) {
      grid-template: "image text" / 2fr 1fr;
    }
  }
}

.advantages__big {
  background-color: $blue;

  @media (min-width: $tablet-width) {
    padding: 52px 30px 31px;
    grid-area: text;
  }

  @media (min-width: $desktop-width) {
    padding: 52px 69px 31px;
  }
}


.advantages__title {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 11px;

  &--white {
    color: $white;
  }

  @media (min-width: $tablet-width) {
    font-size: 21px;
    margin-bottom: 12px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 45px;
  }
}

.advantages__number {
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 17px;

  &--white {
    color: $white;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 25px;
  }
}

.advantages__description {
  text-align: center;
  text-transform: uppercase;
  margin: 0;

  @media (max-width: $mobile-width-only) {
    padding: 0 8px;
  }

  &--white {
    color: $white;
  }
}

.advantages__sublist {
  padding: 0;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.advantages__image {
  display: block;
  width: 100%;
  height: 260px;

  @media (min-width: $tablet-width) {
    height: 256px;
  }
}

@media (max-width: $mobile-width-only) {
  .advantages__big-bridge {
    padding: 37px 18px;
  }

  .advantages__big-city {
    padding: 60px 18px 40px;
  }
}
