.feedback__inner {
  padding: 36px 20px 28px;

  @media (min-width: $tablet-width) {
    padding: 64px 166px 102px;
  }

  @media (min-width: $desktop-width) {
    padding: 115px 383px 67px;
  }
}

.feedback__title {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  color: $dark-black;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 24px;

  @media (min-width: $desktop-width) {
    margin-bottom: 35px;
  }
}

.feedback__subtitle {
  text-align: center;
  text-transform: uppercase;
  margin: 0;

  @media (min-width: $tablet-width) {
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    line-height: 26px;
  }
}

.feedback__form {


  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    margin: 0 60px;
    padding-bottom: 64px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 120px;
  }
}

.feedback__item {
  border: none;
  margin: 0;
  padding: 24px 20px;

  @media (max-width: $mobile-width-only) {
    border-top: 1px solid $silver;
  }

  @media (min-width: $tablet-width) {
    width: 100%;
    margin-bottom: 48px;
    padding: 0;
  }
}

.feedback__item:first-child {
  border-right: 1px solid $light-silver;
}

.feedback__item-name {


  @media (min-width: $tablet-width) {
    width: 50%;
    padding-right: 43px;
  }

  @media (min-width: $desktop-width) {
    padding-right: 63px;
  }
}

.feedback__item-contact {


  @media (min-width: $tablet-width) {
    width: 50%;
    padding-left: 26px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 64px;
  }
}

.feedback__item-contact-wrapper {

  @media (min-width: $tablet-width) {
    margin-left: 18px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
  }
}


.feedback__radio {
  list-style: none;
}

.feedback__radio:not(:last-child) {
  margin-bottom: 36px;
}

.feedback__list-radio {
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 36px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 28px;
    padding: 17px 0 25px;
  }
}

.feedback__item-attraction {

  @media (min-width: $tablet-width) {

  }
}

.feedback__checkbox {
  list-style: none;
}

.feedback__checkbox:not(:last-child) {
  margin-bottom: 36px;
}

.feedback__list-checkbox {
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 84px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: max-content max-content max-content max-content;
    gap: 64px;
    padding: 31px 0 28px;
  }
}

.feedback__item-button {
  padding: 32px 20px 24px;

  @media (min-width: $tablet-width) {
    display: flex;
    align-items: center;
    width: 100%;
  }

  @media (min-width: $desktop-width) {
    padding: 0 96px;
  }
}

.feedback__button {
  display: block;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: $white;
  background-color: $blue;
  text-decoration: none;
  border: none;
  padding: 16px 10px;
  width: 100%;

  &:hover {
    background-color: $blue-hover;
  }

  &:focus {
    background-color: $blue-hover;
  }

  &:active {
    color: rgba($white, 0.3);
    background-color: $blue-active;
  }

  &:disabled {
    background-color: $dark-grey;
  }

  @media (min-width: $tablet-width) {
    width: 50%;
  }

  @media (min-width: $desktop-width) {
    width: 50%;
  }
}

.feedback__description {
  position: relative;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: $dark-black;
  padding: 0;
  margin: 0;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    font-size: 21px;
    margin-bottom: 38px;
  }

  @media (min-width: $tablet-width) {
    font-size: 30px;
    margin-bottom: 20px;

    &--border::before {
      content: "";
      position: absolute;
      left: 0;
      top: 50%;
      width: 123px;
      height: 1px;
      background-color: $light-silver;
    }

    &--border::after {
      content: "";
      position: absolute;
      right: 0;
      top: 50%;
      width: 123px;
      height: 1px;
      background-color: $light-silver;
    }
  }
}

.feedback__label {
  display: block;
  text-transform: uppercase;

  &--phone {
    position: relative;

    &::after {
      position: absolute;
      content: "";
      top: 21px;
      right: 0;
      width: 58px;
      height: 58px;
      background-color: $silver;
      background-image: url("../img/phone.svg");
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  &--email {
    position: relative;

    &::after {
      position: absolute;
      content: "";
      top: 21px;
      right: 0;
      width: 58px;
      height: 58px;
      background-color: $silver;
      background-image: url("../img/email.svg");
      background-repeat: no-repeat;
      background-position: center;
    }
  }
}

.feedback__label-control {
  position: relative;
  cursor: pointer;
}

.feedback__control-mark {
  position: absolute;
  top: -10px;
  left: 0;
  width: 46px;
  height: 46px;
  background-color: $light-grey;
}

.feedback__input-checkbox + .feedback__control-mark {
  border-radius: 4px;
}

.feedback__input-radio + .feedback__control-mark {
  border-radius: 50%;
}

.feedback__input-checkbox:checked + .feedback__control-mark {
  background-image: url("../img/checkbox-check.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.feedback__input-radio:checked + .feedback__control-mark {
  background-image: url("../img/radio-check.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.feedback__input-checkbox:hover + .feedback__control-mark,
.feedback__input-radio:hover + .feedback__control-mark {
  background-color: $dark-grey;
}

.feedback__input-checkbox:focus + .feedback__control-mark,
.feedback__input-radio:focus + .feedback__control-mark {
  background-color: $dark-grey;
}

.feedback__input-checkbox:active + .feedback__control-mark,
.feedback__input-radio:active + .feedback__control-mark {
  background-color: $grey-active;
}

.feedback__control-text {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: $dark-black;
  padding-left: 62px;
}

.feedback__input {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: $dark-black;
  padding: 16px;
  border: none;
  background-color: $light-grey;
  width: 100%;
  margin-bottom: 16px;

  &:hover {
    background-color: $dark-grey;
  }

  &:focus {
    background-color: $dark-grey;
    outline: none;
  }

  &:active {
    background-color: $light-grey;
    box-shadow: inset 0 0 0 4px $dark-grey;
  }
}

.feedback__textarea {
  font-family: $main-fonts;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: $dark-black;
  opacity: 0.3;
  background-color: $light-grey;
  padding: 16px 16px;
  width: 100%;
  height: 150px;
  border: none;
  outline: none;

  &:hover {
    background-color: $dark-grey;
  }

  &:focus {
    background-color: $dark-grey;
  }

  &:active {
    background-color: $light-grey;
    box-shadow: inset 0 0 0 4px $dark-grey;
  }

  @media (min-width: $tablet-width) {
    height: 160px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 96px;
    width: 768px;
  }
}


.feedback__required {
  font-size: 12px;
  line-height: 21px;
  text-transform: uppercase;
  text-align: right;
  color: rgba($black, 0.6);
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 14px;
    width: 50%;
  }
}
