.feedback__inner {
  padding: 36px 20px 28px;

  @media (min-width: $tablet-width) {
    padding: 64px 166px 102px;
  }

  @media (min-width: $desktop-width) {
    padding: 115px 380px 67px;
  }
}

.feedback__title {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  color: $dark-black;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 24px;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    margin: 0 0 20px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 30px;
  }
}

.feedback__subtitle {
  text-align: center;
  text-transform: uppercase;
  margin: 0;

  @media (min-width: $tablet-width) {
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    line-height: 21px;
  }
}

.feedback__form {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    margin: 0 60px;
    padding-bottom: 40px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 120px;
    padding-bottom: 64px;
  }
}

.feedback__item {
  border: none;
  margin: 0;
  padding: 24px 20px;

  @media (max-width: $mobile-width-only) {
    border-top: 1px solid $silver;
  }

  @media (min-width: $tablet-width) {
    width: 100%;
    padding: 0;
  }
}

.feedback__item:first-child {
  border-right: 1px solid $light-silver;
}

.feedback__item-name {
  padding: 24px 20px;

  @media (min-width: $tablet-width) {
    width: 50%;
    padding: 0 43px 0 0;
    margin-bottom: 48px;
  }

  @media (min-width: $desktop-width) {
    width: 490px;
    padding-right: 63px;
    margin-bottom: 58px;
  }
}

.feedback__item-contact {
  padding: 24px 20px 18px;

  @media (min-width: $tablet-width) {
    width: 50%;
    padding: 0 0 18px 26px;
    margin-bottom: 48px;
  }

  @media (min-width: $desktop-width) {
    width: 470px;
    padding-left: 64px;
    margin-bottom: 58px;
  }
}

.feedback__item-contact-wrapper {
  @media (min-width: $tablet-width) {
    margin-left: 18px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
  }
}


.feedback__radio {
  list-style: none;
}

.feedback__radio:not(:last-child) {
  margin-bottom: 36px;
}

.feedback__list-radio {
  margin: 0;
  padding: 10px 0 9px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 36px;
    column-gap: 16px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: repeat(3, 280px);
    padding: 17px 35px 25px;
    gap: 26px;
    width: 960px;
    justify-items: center;
  }
}

.feedback__item-impression {
  @media (min-width: $tablet-width) {
    margin-bottom: 58px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 21px;
  }
}

.feedback__item-attraction {
  @media (min-width: $tablet-width) {
    margin-bottom: 16px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 34px;
  }
}

.feedback__checkbox {
  list-style: none;
}

.feedback__checkbox:not(:last-child) {
  margin-bottom: 36px;
}

.feedback__list-checkbox {
  margin: 0;
  padding: 10px 0 10px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 84px;
    column-gap: 30px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 173px 170px 153px 184px;
    gap: 64px;
    padding: 31px 44px 28px;
  }
}

.feedback__item-button {
  padding: 27px 20px 24px;

  @media (min-width: $tablet-width) {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 42px 0 24px;
  }

  @media (min-width: $desktop-width) {
    padding: 43px 96px 0;
  }
}

.feedback__button {
  font-family: inherit;
  display: block;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: $white;
  background-color: $blue;
  text-decoration: none;
  border: none;
  padding: 16px 10px;
  width: 100%;

  &:hover {
    background-color: $blue-hover;
  }

  &:focus {
    background-color: $blue-hover;
  }

  &:active {
    color: rgba($white, 0.3);
    background-color: $blue-active;
  }

  &:disabled {
    background-color: $dark-grey;
  }

  @media (min-width: $tablet-width) {
    width: 50%;
  }

  @media (min-width: $desktop-width) {
    width: 50%;
  }
}

.feedback__description {
  position: relative;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: $dark-black;
  padding: 0;
  margin: 0;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    font-size: 21px;

    &--border::before {
      content: "";
      position: absolute;
      left: 0;
      top: 50%;
      width: 123px;
      height: 1px;
      background-color: $light-silver;
    }

    &--border::after {
      content: "";
      position: absolute;
      right: 0;
      top: 50%;
      width: 123px;
      height: 1px;
      background-color: $light-silver;
    }

    &--contact-indent {
      text-align: left;
      margin-bottom: 28px;

      @media (min-width: $desktop-width) {
        padding-left: 30px;
      }
    }

    &--name-indent {
      padding-left: 43px;
      margin-bottom: 28px;

      @media (min-width: $desktop-width) {
        padding-left: 60px;
      }
    }

    &--title-indent {
      margin-bottom: 38px;
    }

    &--omission {
      margin-bottom: 28px;
    }
  }

  @media (min-width: $desktop-width) {
    &--border::before {
      width: 280px;
    }

    &--border::after {
      width: 280px;
    }
  }
}

.feedback__label {
  display: block;
  text-transform: uppercase;

  &--indent {
    padding-left: 16px;
  }

  &--phone {
    position: relative;

    &::after {
      position: absolute;
      content: "";
      top: 21px;
      right: 0;
      width: 58px;
      height: 58px;
      background-color: $silver;
      background-image: url("../img/phone.svg");
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  &--email {
    position: relative;

    &::after {
      position: absolute;
      content: "";
      top: 21px;
      right: 0;
      width: 58px;
      height: 58px;
      background-color: $silver;
      background-image: url("../img/email.svg");
      background-repeat: no-repeat;
      background-position: center;
    }
  }
}

.feedback__label-control {
  position: relative;
  cursor: pointer;
}

.feedback__control-mark {
  position: absolute;
  top: -10px;
  left: 0;
  width: 46px;
  height: 46px;
  background-color: $light-grey;
}

.feedback__input-checkbox + .feedback__control-mark {
  border-radius: 4px;
}

.feedback__input-radio + .feedback__control-mark {
  border-radius: 50%;
}

.feedback__input-checkbox:checked + .feedback__control-mark {
  background-image: url("../img/checkbox-check.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.feedback__input-radio:checked + .feedback__control-mark {
  background-image: url("../img/radio-check.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.feedback__input-checkbox:hover + .feedback__control-mark,
.feedback__input-radio:hover + .feedback__control-mark {
  background-color: $dark-grey;
}

.feedback__input-checkbox:focus + .feedback__control-mark,
.feedback__input-radio:focus + .feedback__control-mark {
  background-color: $dark-grey;
}

.feedback__input-checkbox:active + .feedback__control-mark,
.feedback__input-radio:active + .feedback__control-mark {
  background-color: $grey-active;
}

.feedback__control-text {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: $dark-black;
  padding-left: 62px;
  text-transform: none;
}

.feedback__input {
  font-family: $main-fonts;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: $dark-black;
  padding: 16px;
  border: none;
  background-color: $light-grey;
  width: 100%;
  margin-bottom: 16px;

  &:hover {
    background-color: $dark-grey;
  }

  &:focus {
    background-color: $dark-grey;
    outline: none;
  }

  &:active {
    background-color: $light-grey;
    box-shadow: inset 0 0 0 4px $dark-grey;
  }

  &:disabled {
    background-color: $light-black;
  }
}

.feedback__textarea {
  font-family: $main-fonts;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: rgba($dark-black, 0.3);
  background-color: $light-grey;
  padding: 16px 16px;
  width: 100%;
  height: 150px;
  border: none;
  outline: none;

  &:hover {
    background-color: $dark-grey;
  }

  &:focus {
    background-color: $dark-grey;
  }

  &:active {
    background-color: $light-grey;
    box-shadow: inset 0 0 0 4px $dark-grey;
  }

  @media (min-width: $tablet-width) {
    height: 160px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 96px;
    width: 768px;
  }
}


.feedback__required {
  font-size: 12px;
  line-height: 21px;
  text-transform: uppercase;
  text-align: right;
  color: rgba($black, 0.6);
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 14px;
    width: 50%;
  }
}

.feedback__transfer--desktop {
  display: none;
}

@media (min-width: $desktop-width) {
  .feedback__transfer--desktop {
    display: block;
  }
}
