.hero-inner {
  position: relative;
  min-height: 389px;
  width: 100%;
  background-image: url("../img/background/background-welcome-mobile.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-color: $blue;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/background/background-welcome-mobile@2x.jpg");
  }

  @media (min-width: $tablet-width) {
    min-height: 518px;
    background-image: url("../img/background/background-welcome-tablet.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/background/background-welcome-tablet@2x.jpg");
    }

  }

  @media (min-width: $desktop-width) {
    background-image: url("../img/background/background-welcome-desktop.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/background/background-welcome-desktop@2x.jpg");
    }
  }
}

.hero-inner__logo-image {
  display: block;
  box-sizing: content-box;
  margin: 0 auto;
  padding: 90px 0 85px;

  @media (min-width: $tablet-width) {
    padding: 77px 0 91px;
    width: 460px;
    height: 350px;
  }

  @media (min-width: $desktop-width) {
    padding: 78px 0 84px;
  }
}

.hero-inner::after {
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 57px;
  content: "";
  background-image: url("../img/triangle.svg");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
}
