.hero-inner {
  background-image: url("../../img/background/background-welcome.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 90px 0 85px 0;
  background-color: $blue;
}

.hero-inner__logo-image {
  display: block;
  margin: 0 auto;
}

