.main-nav {
  position: relative;
  min-height: 56px;
  width: auto;
}

.main-nav__list {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: $blue;

  @media (min-width: $tablet-width) {
    background-color: $white;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
  }
}

.main-nav__link {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: $white;
  text-transform: uppercase;
  text-align: center;
  padding: 16px 12px 11px 12px;
  text-decoration: none;
  display: block;
  border-top: 1px solid $light-blue;
  border-bottom: 1px solid rgba($shadow-black, 0.2);

  &:hover {
    background-color: $blue-hover;
  }

  &:focus {
    background-color: $blue-hover;
  }

  &:active {
    color: rgba($white, 0.3);
    background-color: $blue-active;
  }

  @media (min-width: $tablet-width) {
    color: $dark-black;
    padding: 18px 12px 17px;
    font-size: 14px;
    line-height: 21px;
    font-weight: 700;
    border: none;

    &:hover {
      color: $blue;
      background-color: transparent;
    }

    &:focus {
      color: $blue;
      background-color: transparent;
    }

    &:active {
      color: rgba($dark-black, 0.3);
      background-color: transparent;
    }
  }

  @media (min-width: $desktop-width) {
    padding: 18px 68px 17px;
  }

  &--current {

    @media (max-width: $mobile-width-only) {
      background-color: $background-grey;
    }

    @media (min-width: $tablet-width) {
      color: $brown;
    }
  }
}

.main-nav__item {
  align-items: center;
}

.main-nav__toggle {
  position: absolute;
  top: 17px;
  right: 20px;
  width: 22px;
  height: 22px;
  padding: 0;
  z-index: 6;
  cursor: pointer;
  border: none;
  background-color: transparent;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 22px;
  height: 4px;
  background-color: $blue;
  box-shadow: 0 9px 0 0 $blue, 0 18px 0 0 $blue;
}

.main-nav--closed .main-nav__toggle:hover::before {
  opacity: 0.6;
}

.main-nav--closed .main-nav__toggle:focus::before {
  opacity: 0.6;
}

.main-nav--closed .main-nav__toggle:active::before {
  opacity: 0.3;
}

.main-nav--opened .main-nav__toggle {

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 9px;
    right: -3px;
    width: 27px;
    height: 4px;
    background-color: $white;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }

  &:hover::before,
  &:hover::after {
    background-color: rgba($white, 0.6);
  }

  &:active::before,
  &:active::after {
    background-color: rgba($white, 0.3);
  }
}

@media (max-width: $mobile-width-only) {

  .main-nav--closed .main-nav__wrapper {
    display: none;
  }

  .main-nav--opened .main-nav__wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 5;
  }

  .main-nav--nojs .main-nav__toggle {
    display: none;
  }

  .main-nav--nojs .main-nav__wrapper {
    position: static;
    display: block;
    padding-top: 96px;
  }

  .main-nav__item:last-child::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 7px;
    width: 100%;
    background: linear-gradient(180deg, rgba($dark-black, 0) 0%, rgba($dark-black, 0.2) 100%);
  }


}

@media (min-width: $tablet-width) {

  .main-nav__item:nth-child(4n + 3) {
    grid-column: 4 / 5;
  }

  .main-nav__item:nth-child(4n + 4) {
    grid-column: 5 / 6;
  }
}
