.main-header {
  position: relative;
  padding: 0;
  min-height: 56px;
}

.main-header__logo {
  position: absolute;
  width: 185px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    z-index: 3;
  }

  &:hover {
    opacity: 80%;
  }

  &:active{
    opacity: 50%;
  }
}


