.main-footer {
  text-align: center;
  text-transform: uppercase;
  display: flex;
}

.main-footer__link-hashtag {
  text-decoration: none;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: $dark-black;
}
