.main-header {
  position: relative;

}

.main-header__logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 56px;
  min-width: 185px;

  @media (min-width: $tablet-width) {
    z-index: 1;
  }
}
