.main-nav {
  position: relative;
  width: auto;
  min-height: 55px;


}

.main-nav__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  background-color: $blue;

  @media (min-width: $tablet-width) {
    background-color: $white;
    display: flex;
    flex-direction: row;
  }
}

.main-nav__link {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: $white;
  text-transform: uppercase;
  text-align: center;
  padding: 17px 12px 12px 12px;
  text-decoration: none;
  display: block;
  border-top: 1px solid $light-blue;
  border-bottom: 1px solid rgba($shadow-black, 0.2);;


  @media (min-width: $tablet-width) {
    color: $dark-black;
    padding: 18px 24px 17px 25px;
    font-size: 14px;
    line-height: 21px;
    font-weight: 700;
    border: none;
  }

  @media (min-width: $desktop-width) {
    padding: 18px 68px 17px;
  }

  &--current {
    @media (min-width: $tablet-width) {
      color: $brown;
    }
  }
}

.main-nav__item {
  align-items: center;

  @media (min-width: $tablet-width) {
    width: 20%;
  }
}

.main-nav__item:nth-child(3n+3) {
  @media (min-width: $tablet-width) {
    margin-left: auto;
  }
}

.main-nav__toggle {
  position: absolute;
  top: 17px;
  right: 20px;
  width: 22px;
  height: 22px;
  padding: 0;
  z-index: 3;
  cursor: pointer;
  border: none;
  background-color: transparent;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 22px;
  height: 4px;
  background-color: $blue;
  box-shadow: 0 9px 0 0 $blue, 0 18px 0 0 $blue;
}

.main-nav--opened .main-nav__toggle {

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 9px;
    right: -3px;
    width: 27px;
    height: 4px;
    background-color: $white;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}

@media (max-width: $mobile-width-only) {

  .main-nav--closed .main-nav__wrapper {
    display: none;
  }

  .main-nav--opened .main-nav__wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
  }

  //.main-nav--nojs .main-nav__toggle {
  //  display: none;
  //}
  //
  //.main-nav--nojs .main-nav__wrapper {
  //  position: static;
  //  min-height: 0;
  //}
  //
  //.main-nav--nojs .main-nav__list {
  //  display: block;
  //}

  .main-nav__item:last-child .main-nav__link::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 7px;
    background: linear-gradient(180deg, rgba($dark-black, 0) 0%, rgba($dark-black, 0.2) 100%);
  }
}
