.page {
  height: 100%;
}

.page__body {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  height: 100%;
  font-family: $main-fonts;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: $black;
  background-color: $light-grey;
}

.page__container {
  max-width: 1200px;
  margin: 0 auto;
  background-color: $white;
  box-shadow: 0 5px 15px rgba($shadow-black, 0.2);
}
