.page {
  height: 100%;
}

.page__body {
  margin: 0;
  height: 100%;
  font-family: $main-fonts;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: $black;
  background-color: $white;
}
