.page-search {
  padding: 41px 18px 49px;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    padding: 61px 155px 58px;
  }

  @media (min-width: $desktop-width) {
    padding: 61px 371px 66px;
  }
}

.page-search__title {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: $dark-black;
  margin: 0;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    margin-bottom: 32px;
  }
}

.page-search__subtitle {
  margin: 0;
  margin-bottom: 32px;

  @media (min-width: $tablet-width) {
    margin-bottom: 40px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 45px;
  }
}

.page-search__hotel {
  display: inline-block;
  margin: 0 auto;
  padding: 16px;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  font-weight: 700;
  color: $white;
  background-color: $blue;
  text-decoration: none;
  min-width: 284px;

  &:hover {
    background-color: $blue-hover;
  }

  &:focus {
    background-color: $blue-hover;
  }

  &:active {
    color: rgba($white, 0.3);
    background-color: $blue-active;
  }

  &:disabled {
    background-color: $dark-grey;
  }

  @media (min-width: $tablet-width) {
    padding: 16px;
    width: 458px;
  }
}
