.social {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto 40px;
  padding: 0;
  justify-content: center;
  align-items: center;
  list-style: none;
  max-width: 268px;

  @media (min-width: $tablet-width) {
    margin: 0;
    max-width: 350px;
  }

  @media (min-width: $desktop-width) {
    min-width: 600px;
  }
}

.social__item {
  margin: 0;
  padding: 0;
  align-items: center;

}

.social__link {
  display: block;
  color: $white;
  background-color: $blue;
  width: 48px;
  height: 48px;
  padding: 12px 12px;

  &:hover {
    background-color: $blue-hover;
  }

  &:focus {
    background-color: $blue-hover;
  }

  &:active {
    background-color: $blue-active;
  }
}

.social__item:not(:last-child) {
  margin-right: 6px;
}
