.sublist__item {
  position: relative;
  list-style: none;
  padding: 31px 18px 25px 65px;

  @media (min-width: $tablet-width) {
    padding: 153px 33px 60px;
    text-align: center;
  }

  @media (min-width: $desktop-width) {
    padding: 169px 50px 69px;
  }

  &::before {
    content: "";
    position: absolute;
    top: 23px;
    left: 18px;
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;

    @media (min-width: $tablet-width) {
      top: 60px;
      left: 50%;
      transform: translateX(-50%);
      width: 77px;
      height: 77px;
    }

    @media (min-width: $desktop-width) {
      top: 69px;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &--house::before {
    background-image: url("../img/icons/house.svg");
  }

  &--eat::before {
    background-image: url("../img/icons/eat.svg");
  }

  &--gift::before {
    background-image: url("../img/icons/gift.svg");
  }
}

.sublist__title {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: $dark-black;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 16px;
}

.sublist__description {
  text-transform: uppercase;
  margin: 0;
}
