.sublist__item {
  list-style: none;
  padding: 23px 18px 25px;
}

.sublist__title {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 16px;
}

.sublist__description {
  text-transform: uppercase;
  margin: 0;
}
