.video {
  padding: 17px 20px 0;
  text-align: center;
  text-transform: uppercase;
}

.video__header-title {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: $dark-black;
  margin: 0;
  margin-bottom: 30px;
}

.video__header-subtitle {
  margin: 0;
  margin-bottom: 38px;
}
