.video {
  padding: 17px 20px 0;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    padding: 58px 60px 40px;
  }

  @media (min-width: $desktop-width) {
    padding: 62px 200px 84px;
  }
}

.video__header-title {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: $dark-black;
  margin: 0;
  margin-bottom: 30px;
}

.video__header-subtitle {
  margin: 0;
  margin-bottom: 38px;

  @media (min-width: $tablet-width) {
    margin-bottom: 66px;
  }
}


